<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Inversión</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/formulario-agregar.css}">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h1>Editar Inversión</h1>
        <form action="#" th:action="@{/inversiones/guardar}" th:object="${inversion}" method="post">
            <input type="hidden" th:field="*{id}" />

            <div class="form-row">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" th:field="*{nombre}" class="form-control" required />
                </div>

                <div class="form-group">
                    <label for="tipo">Tipo</label>
                    <select id="tipo" name="tipo" required th:field="*{tipo}">
                        <option value="Renta Fija">Renta Fija</option>
                        <option value="Renta Variable">Renta Variable</option>
                        <option value="Fondos de Inversión">Fondos de Inversión</option>
                        <option value="Cryptos">Cryptos</option>
                        <option value="otros">otros</option>

                    </select>
                </div>

                <div class="form-group">
                    <label for="montoInvertido">Monto Invertido($)</label>
                    <input type="number" step="0.01" id="montoInvertido" th:field="*{montoInvertido}" class="form-control" required />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="fechaInversion">Fecha Inversion</label>
                    <input type="date" id="fechaInversion" th:field="*{fechaInversion}" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="estado">Estado</label>
                    <select id="estado" name="estado" required th:field="*{estado}">
                        <option value="activo">ACTIVO</option>
                        <option value="programado">PROGRAMADO</option>
                        <option value="inactivo">INACTIVO</option>
                    </select>
                </div>
            </div>


            <div class="form-group">
                <label for="comentarios">Comentarios</label>
                <textarea id="comentarios" th:field="*{comentarios}" class="form-control"></textarea>
            </div>

            <button type="submit" class="btn btn-success">Guardar Cambios</button>
            <a href="/inversiones/listar" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
