<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Operativa</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registro-operativa.css}">

</head>
<body>
<div class="container">
    <h1>Registro de Operativa</h1>
    <form th:action="@{/operativa/guardar}" method="post" th:object="${operativa}" enctype="multipart/form-data">
        <!-- Agrupación de 3 elementos -->
        <div class="form-row">
            <div class="form-group">
                <label for="fecha">Fecha:</label>
                <input type="date" id="fecha" name="fecha" required th:field="*{fecha}">
            </div>
            <div class="form-group">
                <label for="sesion">Sesión:</label>
                <select id="sesion" name="sesion" required th:field="*{sesion}">
                    <option value="new_york">New York</option>
                    <option value="tokio">Tokio</option>
                    <option value="london">London</option>
                </select>
            </div>
            <div class="form-group">
                <label for="divisa">Divisa:</label>
                <select id="divisa" name="divisa" required th:field="*{divisa}">
                    <option value="eur_usd">EUR/USD</option>
                    <option value="aud_usd">AUD/USD</option>
                    <option value="gbp_usd">GBP/USD</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="stopSize">Stop Size:</label>
                <input type="number" id="stopSize" name="stopSize" required th:field="*{stopSize}">
            </div>
            <div class="form-group">
                <label for="resultado">Resultado:</label>
                <select id="resultado" name="resultado" required th:field="*{resultado}">
                    <option value="take_profit">Take Profit</option>
                    <option value="stop_loss">Stop Loss</option>
                    <option value="break_even">Break Even</option>
                </select>
            </div>
        </div>

        <!-- Timeframes -->
        <h2>Observaciones por Timeframe</h2>

        <!-- Timeframe 4H -->
        <div class="timeframe-group">
            <h3>4H</h3>
            <textarea id="observacion4h" name="observacion4h" placeholder="Escribe observaciones para 4H..." th:field="*{observacion4h}"></textarea>
            <div class="form-group">
                <label for="enlaceImagen4h">Enlace Imagen:</label>
                <input type="text" id="enlaceImagen4h" name="enlaceImagen4h" th:field="*{enlaceImagen4h}" placeholder="link" />
            </div>
            <div class="img-preview" id="imgPreview4h"></div>
        </div>

        <!-- Timeframe 1H -->
        <div class="timeframe-group">
            <h3>1H</h3>
            <textarea id="observacion1h" name="observacion1h" placeholder="Escribe observaciones para 1H..." th:field="*{observacion1h}"></textarea>
            <div class="form-group">
                <label for="enlaceImagen1h">Enlace Imagen:</label>
                <input type="text" id="enlaceImagen1h" name="enlaceImagen1h" th:field="*{enlaceImagen1h}" placeholder="link" />
            </div>
            <div class="img-preview" id="imgPreview1h"></div>
        </div>

        <!-- Timeframe 15M -->
        <div class="timeframe-group">
            <h3>15M</h3>
            <textarea id="observacion15m" name="observacion15m" placeholder="Escribe observaciones para 15M..." th:field="*{observacion15m}"></textarea>
            <div class="form-group">
                <label for="enlaceImagen15m">Enlace Imagen:</label>
                <input type="text" id="enlaceImagen15m" name="enlaceImagen15m" th:field="*{enlaceImagen15m}" placeholder="link" />
            </div>
            <div class="img-preview" id="imgPreview15m"></div>
        </div>

        <!-- Timeframe 5M -->
        <div class="timeframe-group">
            <h3>5M</h3>
            <textarea id="observacion5m" name="observacion5m" placeholder="Escribe observaciones para 5M..." th:field="*{observacion5m}"></textarea>
            <div class="form-group">
                <label for="enlaceImagen5m">Enlace Imagen:</label>
                <input type="text" id="enlaceImagen5m" name="enlaceImagen5m" th:field="*{enlaceImagen5m}" placeholder="link" />
            </div>
            <div class="img-preview" id="imgPreview5m"></div>
        </div>

        <!-- Timeframe 1M -->
        <div class="timeframe-group">
            <h3>1M</h3>
            <textarea id="observacion1m" name="observacion1m" placeholder="Escribe observaciones para 1M..." th:field="*{observacion1m}"></textarea>
            <div class="form-group">
                <label for="enlaceImagen1m">Enlace Imagen:</label>
                <input type="text" id="enlaceImagen1m" name="enlaceImagen1m" th:field="*{enlaceImagen1m}" placeholder="link" />
            </div>
            <div class="img-preview" id="imgPreview1m"></div>
        </div>

        <button type="submit">Registrar Operativa</button>
    </form>
</div>

<!-- Modal para mostrar la imagen expandida -->
<div id="myModal" class="modal">
    <span class="close" id="closeModal">&times;</span>
    <img class="modal-content" id="expandedImg">
</div>
<script th:src="@{/js/script-registro-operativa.js}"></script>

</body>
</html>